<div class="flex items-center justify-center min-h-screen text-white">
  <div class="hud-display p-8 rounded-lg shadow-xl text-center max-w-4xl w-full">
    <h1 class="font-orbitron text-4xl md:text-5xl font-bold tracking-wider text-cyan-300 mb-8">Rock, Paper, Scissors</h1>

    <div class="space-y-6">
      <app-customized-button
        text="Create New Player"
        className="bg-blue-600 hover:bg-blue-700"
        (buttonClick)="goToCreatePlayer()"
      ></app-customized-button>

      <div *ngIf="playerService.players().length !== 0">
        <h2 class="font-orbitron text-2xl text-cyan-200 mb-4">Or Select Player</h2>
        <div id="player-list" class="space-y-3 max-h-60 overflow-y-auto border border-gray-200 rounded-lg p-2">
          <div *ngFor="let player of playerService.players()"
              (click)="selectPlayer(player)"
              [class.selected-player]="selectedPlayer && selectedPlayer.id === player.id"
              class="player-list-item flex items-center justify-center space-x-4 p-2 rounded-lg cursor-pointer transition duration-150">
            <span class="text-4xl">{{ player.icon || '👤' }}</span>
            <span class="text-xl">{{ player.name }}</span>
          </div>
        </div>
      </div>

      <app-customized-button
        text="View Leaderboard"
        className="bg-purple-600 hover:bg-purple-700 disabled:hover:bg-purple-600"
        (buttonClick)="playerService.players().length > 0 ? viewLeaderboard() : null"
        [disabled]="playerService.players().length === 0"
      ></app-customized-button>
    </div>
  </div>
</div>